{% extends 'layout.html.twig' %}

{% block page_title %}Home: {{ app['myappname'] }}{% endblock page_title %}

{% block content %}
    <h1>{{ app['myappname'] }}</h1>
    <p>Hello, {{ name }}. Click <a href="{{ url('contact') }}">here</a> to contact us!</p>
{% endblock content%}
